# ========== Qt 编译输出与临时文件 ==========
*.qmlc
*.jsc
*.qm
*.prl
*_qmlcache.qrc
Makefile*

# ========== Qt Creator 特定文件 ==========
*.autosave
*.qmlproject.user
*.qmlproject.user.*
*.creator.user*
target_wrapper.*
CMakeLists.txt.user*
compile_commands.json

# ========== CLion / CMake 相关 ==========
.idea/
cmake-build-*/
CMakeLists.txt.user*
CMakeSettings.json

# ========== 通用 C++ 构建产物与库 ==========
*.o
*.obj
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.slo
*.lo
*.dylib

# ========== 可执行文件和应用程序 ==========
*.exe
*.app

# ========== IDE 与编辑器配置 ==========
*.user
*.autosave
.vscode/

# ========== Python 缓存 ==========
__pycache__/
*.pyc

# ========== 操作系统特定 ==========
.DS_Store

# ========== 项目自定义目录与文件 ==========
# 编译中间目录
**/Install
**/install
**/Bin
**/bin
**/GeneratedFiles
**/out
**/Image
**/Resource/Image
**/Build
**/build
**/bin

# 第三方库
/ThirdParty

# Windows 特定
**/.vs


# 项目特定二进制/中间文件（如果 WindowBase 是生成的可执行或库）
**/WindowBase